@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-fangsong {
    font-family: 'LXGW WenKai GB', 'LXGW WenKai', '仿宋', 'FangSong', 'STFangsong', 'serif';
  }
  body {
    @apply bg-slate-50 text-slate-700 dark:bg-slate-900 dark:text-slate-300;
  }
  a:not(.prose a, .app-navbar a) {
    @apply no-underline text-current border-solid border-primary-500 dark:border-primary-400 hover:border-b hover:text-primary-500 dark:hover:text-primary-400;
  }
  th {
    @apply text-left;
  }
}

@layer components {
  .divided {
    > *:not(:last-child)::after {
      @apply content-['|'] mx-2 font-sans text-sm font-normal leading-normal pointer-events-none select-none text-slate-400 dark:text-slate-600;
    }
  }

  .prose {
    p,
    li {
      @apply break-all sm:break-normal sm:break-words;
    }
  }

  .contains-task-list {
    .task-list-item {
      @apply relative pl-8;
      input[type='checkbox'] {
        @apply appearance-none absolute top-1/2 left-2 -mt-2 bg-transparent;
        @apply before:cursor-pointer before:block before:w-4 before:h-4 before:leading-4 before:text-center before:rounded before:bg-transparent before:ring-1 before:ring-slate-300 dark:before:ring-slate-600 before:text-primary-500;
        @apply checked:before:content-['✓'] enabled:hover:before:ring-primary-500 checked:enabled:before:bg-primary-500 checked:enabled:before:ring-primary-500 checked:enabled:before:text-white;
        @apply disabled:before:cursor-default;
      }
    }
  }
}
